# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
build/
x64-Debug/
x64-Release/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
*.log
*.obj
*.exe
*.pdb
